.menu {
  display: none;
  position: absolute;
  z-index: 999;
}

.menu.active {
  display: block;
}

.menu:after,
.menu:before {
  bottom: 100%;
  left: 12%;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.menu:after {
  border-width: 15px;
  margin-left: -15px;
}
